/*body {
  padding-top: 70px;
  opacity: .9;
}*/

/*.container-fluid {
  padding-top: 140px;
  background-color: #c9c9c9;
  opacity: .9;
}*/

td {
    text-align: center;
}

.uppercase {
  text-transform: capitalize;
  font-size: 24px;
}

ul.nav {
  width: 100vw;
  text-align: center;
  font-size: 30px;
  background-repeat: repeat-x;
  background-size: auto 60px;

}

.navbar {
  background-color: #c9c9c9;
}

ul.nav a:hover { background-color: #7fddff !important; }

a:active {
  background-color: #7fddff;
}
.container-fluid {
  padding-top: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.topBorder {
  margin-bottom: 20px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: gray;
}

.topMargin {
  margin-top: 20px;
}

.backgroundTeal {
  background: #428bca;
}

body {
    background-image: url("../img/cello.jpeg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

table {
  font-size: 36px;
}

.table-bordered {
  border-color: black;
  border-style: inset;
}

.navbarbackground {
  background-image:
}

#hide {
  font-size: 36px;

}

button {
  margin-top: 10px;
}

.hover {
  font-size: 24px;
}

.suggestions {
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.btn {
  font-weight: bold;
  background: transparent;
  border: solid black 1px;
  color: black;
}

.btn:hover {
  color: white;
  background-color: #a3430a;
  border: 1px solid black;
}

.btn:active, .btn:focus {
  box-shadow: inset 0 5px 10px rgba(255,255,255,.125);
  border: 1px solid black;
}

.btn:focus, .btn:focus.btn:active {
  outline-color: #a3430a;
}
